## Predict the Customer Churn of a telcom company and find out the key drivers that lead to churn

* Customer Churn is the percentage of customers who stop doing business with an entity.

In [1]:
import pandas as pd
import numpy as np
%matplotlib inline
import seaborn as sns
import matplotlib.pyplot as plt
import os

In [2]:
df_trainer = pd.read_csv('Telecom_Train.csv')
df_tester = pd.read_csv('Telecom_Test.csv')

In [3]:
df_trainer.shape

(3333, 21)

In [4]:
df_tester.shape

(1667, 21)

In [7]:
df_trainer.shape[0]/df_tester.shape[0]

1.9994001199760048

In [9]:
df_trainer.head().T

,0,1,2,3,4
Unnamed: 0,1,2,3,4,5
state,KS,OH,NJ,OH,OK
account_length,128,107,137,84,75
area_code,area_code_415,area_code_415,area_code_415,area_code_408,area_code_415
international_plan,no,no,no,yes,yes
voice_mail_plan,yes,yes,no,no,no
number_vmail_messages,25,26,0,0,0
total_day_minutes,265.1,161.6,243.4,299.4,166.7
total_day_calls,110,123,114,71,113
total_day_charge,45.07,27.47,41.38,50.9,28.34
total_eve_minutes,197.4,195.5,121.2,61.9,148.3
total_eve_calls,99,103,110,88,122
total_eve_charge,16.78,16.62,10.3,5.26,12.61
total_night_minutes,244.7,254.4,162.6,196.9,186.9
total_night_calls,91,103,104,89,121
total_night_charge,11.01,11.45,7.32,8.86,8.41
total_intl_minutes,10.0,13.7,12.2,6.6,10.1
total_intl_calls,3,3,5,7,3
total_intl_charge,2.7,3.7,3.29,1.78,2.73
number_customer_service_calls,1,1,0,2,3
churn,no,no,no,no,no

In [11]:
df_trainer.dtypes.sort_values()

Unnamed: 0                         int64
account_length                     int64
total_intl_calls                   int64
number_vmail_messages              int64
total_night_calls                  int64
total_day_calls                    int64
number_customer_service_calls      int64
total_eve_calls                    int64
total_intl_charge                float64
total_intl_minutes               float64
total_night_charge               float64
total_night_minutes              float64
total_eve_minutes                float64
total_day_charge                 float64
total_day_minutes                float64
total_eve_charge                 float64
voice_mail_plan                   object
international_plan                object
area_code                         object
state                             object
churn                             object
dtype: object

In [12]:
df_trainer.isna().sum()

Unnamed: 0                       0
state                            0
account_length                   0
area_code                        0
international_plan               0
voice_mail_plan                  0
number_vmail_messages            0
total_day_minutes                0
total_day_calls                  0
total_day_charge                 0
total_eve_minutes                0
total_eve_calls                  0
total_eve_charge                 0
total_night_minutes              0
total_night_calls                0
total_night_charge               0
total_intl_minutes               0
total_intl_calls                 0
total_intl_charge                0
number_customer_service_calls    0
churn                            0
dtype: int64

In [15]:
df_trainer.nunique().sort_values()

churn                               2
international_plan                  2
voice_mail_plan                     2
area_code                           3
number_customer_service_calls      10
total_intl_calls                   21
number_vmail_messages              46
state                              51
total_day_calls                   119
total_night_calls                 120
total_eve_calls                   123
total_intl_charge                 162
total_intl_minutes                162
account_length                    212
total_night_charge                933
total_eve_charge                 1440
total_night_minutes              1591
total_eve_minutes                1611
total_day_minutes                1667
total_day_charge                 1667
Unnamed: 0                       3333
dtype: int64