#  Project
### Problem Statement

In the year 2013, a supermarket decided to draw insight from their data in order to make data driven decisions.
As a Data Analyst,you are presented with their 2013 daily sales records (sales_data.csv) and tasked to help them find answers to the questions below by analysing the data.

1. i. What is the average sales and profit per market? 

   ii.Plot a stacked bar chart showing the sales and profit per market.
   
   iii.Which market brings more sales on the average?

2. i. What are the best 10 performing products with regards to sales in 2013?

   ii.What are the least 10 performing products with regards to sales 2013?


3. i. Extract the days and months from the Order Date and add them to the data frame with the name "Days" and "Months" respectively?

   ii.Show the trend of profit from January to December with a line plot.

   iii. Which month does the company make more profit and what 5 products are sold most in that month?
   iv.  which day does the company make high sales on the average?

4. i. By analyzing the data, what is the correlation between sales and discount?

   ii. Use a scatter plot to show the relationship between sales and profit.

5. i. Plot a grouped bar chart showing the total profit for the different product category for each market.

   ii. From your graph, which product category performs well in each market?
   
6. i. Which customer spent the most in the whole year?

   ii. What product does the customer in (i) buy the most?
   
   iii. Which month did the customer spent the most?
   
   iv. How much did this customer spend in the whole year?
   
7. Can you do any other analysis to draw more insight? Feel free to do it.


**Thank you**

**GOOD LUCK!**

In [1]:
# Use markdowns to write your answers or findings where necessary.
# Use comments to exlain you codes where necessary 
# Remember to import the necessary packages

### **NB**: To easily load the data, it's advisable you have the data and the notebook file  in the same folder

In [2]:
#import your packages here
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

import warnings
warnings.filterwarnings('ignore')

In [3]:
# Load the sales data here
df = pd.read_csv("sales_data.csv")
df.head()

,Unnamed: 0,Order Date,Order ID,Customer ID,Customer Name,Segment,City,Market,Region,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
0,0,2013-01-01,ID-2013-37383,MY-18295,Muhammed Yedwab,Corporate,Albury,APAC,Oceania,Technology,Copiers,"Canon Copy Machine, Digital",1649.214,7,0.1,36.624
1,1,2013-01-01,IN-2013-47960,JE-15715,Joe Elijah,Consumer,Tianjin,APAC,North Asia,Furniture,Bookcases,"Sauder Floating Shelf Set, Metal",1358.280,7,0.0,203.700
2,2,2013-01-01,ID-2013-37383,MY-18295,Muhammed Yedwab,Corporate,Albury,APAC,Oceania,Technology,Accessories,"Logitech Memory Card, Erganomic",728.568,8,0.1,-32.472
3,3,2013-01-01,IN-2013-47960,JE-15715,Joe Elijah,Consumer,Tianjin,APAC,North Asia,Furniture,Bookcases,"Dania Library with Doors, Mobile",2189.520,6,0.0,372.060
4,4,2013-01-01,IN-2013-47960,JE-15715,Joe Elijah,Consumer,Tianjin,APAC,North Asia,Furniture,Bookcases,"Sauder Floating Shelf Set, Traditional",1362.060,7,0.0,340.410

In [4]:
# Checking for nulls
df.isna().sum()

Unnamed: 0       0
Order Date       0
Order ID         0
Customer ID      0
Customer Name    0
Segment          0
City             0
Market           0
Region           0
Category         0
Sub-Category     0
Product Name     0
Sales            0
Quantity         0
Discount         0
Profit           0
dtype: int64

In [5]:
df.shape

(13799, 16)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13799 entries, 0 to 13798
Data columns (total 16 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Unnamed: 0     13799 non-null  int64
 1   Order Date     13799 non-null  object
 2   Order ID       13799 non-null  object
 3   Customer ID    13799 non-null  object
 4   Customer Name  13799 non-null  object
 5   Segment        13799 non-null  object
 6   City           13799 non-null  object
 7   Market         13799 non-null  object
 8   Region         13799 non-null  object
 9   Category       13799 non-null  object
 10  Sub-Category   13799 non-null  object
 11  Product Name   13799 non-null  object
 12  Sales          13799 non-null  float64
 13  Quantity       13799 non-null  int64
 14  Discount       13799 non-null  float64
 15  Profit         13799 non-null  float64
dtypes: float64(3), int64(2), object(11)
memory usage: 1.7+ MB

In [7]:
# Unique Values
obj_col = df.columns
for col in obj_col:
    print("{}: {}".format(col,len(df[col].unique())))

Unnamed: 0: 13799
Order Date: 360
Order ID: 6721
Customer ID: 1458
Customer Name: 795
Segment: 3
City: 2195
Market: 7
Region: 13
Category: 3
Sub-Category: 17
Product Name: 3242
Sales: 9389
Quantity: 14
Discount: 26
Profit: 8970

In [8]:
df = df.drop(columns=['Unnamed: 0', 'Order ID'])
df.head()

,Order Date,Customer ID,Customer Name,Segment,City,Market,Region,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
0,2013-01-01,MY-18295,Muhammed Yedwab,Corporate,Albury,APAC,Oceania,Technology,Copiers,"Canon Copy Machine, Digital",1649.214,7,0.1,36.624
1,2013-01-01,JE-15715,Joe Elijah,Consumer,Tianjin,APAC,North Asia,Furniture,Bookcases,"Sauder Floating Shelf Set, Metal",1358.280,7,0.0,203.700
2,2013-01-01,MY-18295,Muhammed Yedwab,Corporate,Albury,APAC,Oceania,Technology,Accessories,"Logitech Memory Card, Erganomic",728.568,8,0.1,-32.472
3,2013-01-01,JE-15715,Joe Elijah,Consumer,Tianjin,APAC,North Asia,Furniture,Bookcases,"Dania Library with Doors, Mobile",2189.520,6,0.0,372.060
4,2013-01-01,JE-15715,Joe Elijah,Consumer,Tianjin,APAC,North Asia,Furniture,Bookcases,"Sauder Floating Shelf Set, Traditional",1362.060,7,0.0,340.410

1. i. What is the average sales and profit per market? 

   ii. Plot a stacked bar chart showing the sales and profit per market.
   
   iii. Which market brings more sales on the average?

In [ ]:
# What is the average sales and profit per market?
market 
df.groupby('Branch')['Total'].sum().sort_values(ascending=False)

In [ ]:
member_rating = df[df.Customer_type == 'Member']
member_rating.groupby('Branch')['Rating'].mean().sort_values(ascending=False)

2. i. What are the best 10 performing products with regards to sales in 2013?

   ii. What are the least 10 performing products with regards to sales 2013?

3. i. Extract the days and months from the Order Date and add them to the data frame with the name "Days" and "Months" respectively?

   ii. Show the trend of profit from January to December with a line plot.

   iii. Which month does the company make more profit and what 5 products are sold most in that month?
   iv.  which day does the company make high sales on the average?

4. i. By analyzing the data, what is the correlation between sales and discount?

   ii. Use a scatter plot to show the relationship between sales and profit.

5. i. Plot a grouped bar chart showing the total profit for the different product category for each market.

   ii. From your graph, which product category performs well in each market?

6. i. Which customer spent the most in the whole year?

   ii. What product does the customer in (i) buy the most?
   
   iii. Which month did the customer spent the most?
   
   iv. How much did this customer spend in the whole year?